:root {
  --yellow: hsl(61, 70%, 52%);
  --red: hsl(4, 69%, 50%);
  --white: hsl(0, 0%, 100%);
  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(203, 41%, 72%);
  --slate-500: hsl(200, 26%, 54%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-800: #133040;
  --slate-900: #0e2431;

  @font-face {
    font-family: "Jakarta Sans";
    src: url("./assets/fonts/static/PlusJakartaSans-VariableFont_wght")
      format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Jakarta Sans";
    src: url("./assets/fonts/static/PlusJakartaSans-VariableFont_wght")
      format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  --sans: "Jakarta Sans", Roboto, sans-serif;
  --heading: "Jakarta Sans", Roboto, sans-serif;

  font: 16px/145% var(--sans);
  letter-spacing: 0.18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

html {
  height: 100%;
  font-family: var(--sans);
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

p {
  margin: 0;
}

#app {
  max-width: 100%;
  text-align: center;
  height: 100svh;
  display: flex;
  align-items: center;
  background-color: var(--slate-100);

  @media (max-width: 768px) {
    height: unset;
  }
}

#center {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  background-color: var(--white);
  justify-content: center;
  width: fit-content;
  border-radius: 8px;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
    border-radius: 0;
  }
}
